body{
    height: 40vh;

    
}

::-webkit-scrollbar{
    width: 50px;
}

::-webkit-scrollbar-track{
    background: #dddddd;
}

::-webkit-scrollbar-thumb{
    background: #db1d5c;
}


h1 {
    color:azure;
    background-color: blue;
}
