*{
    margin: 0; /* margin값 초기화 */
    padding: 0; /* 패딩값 초기화 */
    box-sizing: border-box; /* 박스여역은 테두리까지 지정 */
}

#container {
    margin: 0 auto; /* 화면 중앙에 배치 */
    width: 1200px; /* 너비지정 */
}


/* Header영역 */
header {
    width: 100vh;
    height: 100px;
    background-color: blue;
}

/* 로고영역 */
#logo {
    
}
/* 네비게이션 영역 */

/* 이미지 슬라이드 쇼 영역 */

/* 콘텐츠 영역 */

/* 탭 메뉴 영역 */

/* 퀵 링크 영역 */

/* Footer영역 */