@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100vh;
}


hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
}

label {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1.0rem;
}

ul {
    /* ul 점 사라지게 하는 코드. */
    list-style: none;
    padding-left: 0px;
}


.sb-nav-fixed #layoutLeftSide,
.sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.sb-nav-fixed #layoutTotal #layoutLeftSide {
    width: 225px;
    height: 100vh;
    z-index: 1001;
}

.sb-nav-fixed .sb-topnav {
    z-index: 1039;
}

.sb-nav-fixed #layoutTotal #layoutLeftSide,
.sb-sidenav {
    padding-top: 56px;
}

.sb-nav-fixed #layoutTotal #layoutLeftSide .sb-sidenav .sb-sidenav-menu {
    overflow-y: auto;
}

.sb-nav-fixed #layoutTotal #layoutContent {
    padding-left: 225px;
    top: 56px;
}

/* 전체 레이아웃 */
#layoutTotal {
    display: flex;
}

#layoutTotal #layoutLeftSide {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1000;
    /* transform: translateX(-225px); /* 화면 왼쪽으로 사라지게 하기 위함이다.  */
}

/* 토글버튼 누를 시 사이드메뉴 숨기기 */
.sb-sidenav-toggled #layoutTotal #layoutLeftSide {
    transform: translateX(-225px);
}

.sb-sidenav-toggled #layoutTotal #layoutContent {
    margin-left: -225px;
}

/* .sb-sidenav-toggled #laoutTotal #layoutContent:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1002;
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
} */

.sb-sidenav-toggled #sidebarToggle {
    /* transform: rotate(-180deg); /* 메뉴가 들어갈때 아이콘이 180도 회전 */
}

/* #layoutLeftSide {
    position: fixed;
    top: 26px;
    left: 0;

} */

#layoutTotal #layoutContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh-56px);
    /* margin-left: -225px */
}

#sidenavAccordion {
    position: relative;
    display: flex;
}

/* 전체레이아웃 끝 */


/* 탑메뉴 */
.sb-nav-fixed .btn #sb-sidenav-toggle:active {
    color: white;
    font-weight: 600;
}

.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1001;

}

.sb-topnav .navbar-brand {
    width: 225px;
    margin: 0;
}

.sb-topnav.navbar-dark #sb-sidenav-toggle {
    color: rgba(255, 255, 255, 0.5);
}

.sb-topnav.navbar-light #sb-sidenav-toggle {
    color: #212529;
}


/* 왼쪽 메뉴 디자인 */
.sb-sidenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

.sb-sidenav .sb-sidenav-menu {
    flex-grow: 1;
}

.sb-sidenav .sb-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 0.7;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
    font-size: 0.9rem;
    padding-right: 0.5rem;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

.sb-sidenav .sb-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
}

/* 왼쪽메뉴 디자인 */
.sb-sidenav-dark {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.35);
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark .sb-sidenav-menu .sb-nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
    /* 각 메뉴의 아이콘은 글자보다 어둡게 */
}

.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover,
.sb-sidenav-dark .sb-sidenav-menu .nav-link:active {
    color: white;
    font-weight: 500;
}


.sb-sidenav-dark .sb-sidenav-footer {
    background-color: #343a40;
}

/* Simple Data Tables 영역 */
.datatable-input,
.datatable-selector {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f9f9f9;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}



.datatable-input:focus,
.datatable-selector:focus {
    color: #212529;
    background-color: white;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25)
}

.datatable-container {
    font-size: 0.875rem;
}

.datatable-table {
    border-collapse: collapse;
    --bs-table-color: var(--bs-body-color);
    --bs-table-db: transparent;
    --bs-table-border-color: var(--bs-border-color);
    border-color: var(--bs-table-border-color);
    border: 1px solid #ced4da;
}

.datatable-pagination ul {
    padding-left: 0;
    display: flex;
    list-style: none;
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
}

.datatable-pagination a {
    color: var(--bs-pagination-color);
    display: block;
    font-size: var(--bs-pagination-font-size);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
}

.datatable-pagination li:not(:first-child) a {
    margin-left: -1px;
}

.datatable-pagination li:first-child,
.datatable-pagination li:first-child a {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.datatable-pagination li:last-child,
.datatable-pagination li:last-child a {
    border-top-right-radius: 0.5;
    border-bottom-left-radius: 0.5rem;
}

/* 에러페이지 */
/* 500 */
#layoutError {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#layoutError #layoutError_content {
    min-width: 0;
    flex-grow: 1;
    /* 컨텐트 나머지 영역을 제일 밑으로  */
}

#layoutError #layoutError_footer {
    min-width: 0;
}

#layoutError_404 {

    width: 350px;
    height: 350px;


}